body {
    font: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(#E09F3E,#540B0E);
    background-image: -o-linear-gradient(#E09F3E,#540B0E);
    background-image: linear-gradient(#E09F3E,#540B0E);
}