body {
    background: #f5ffc5;
    color: #221f17;
    font: Arial;
}

.title {
    padding: 100px;
    margin: 0 auto;
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}

h3 {
    color: #6c0e23;
}

.row {
    margin-top: 50px;
    color: #6c0e23;
}

.row input {
    text-align: center;
    width: 10%;
    height: 25px;
    margin-bottom: 10px;
    border: none;
}

.row button {
    background: #fcfdfd;
    color: #878472;
    outline: none;
    text-align: center;
    width: 10%;
    height: 25px;
    margin-bottom: 10px;
}

.row hr {
    border-color: #221f17;
}