body {
    background: #fdfffc;
    color: #161925;
    font: Garamond;
    font-size: 14pt;
    text-indent: 35px;
}

body button {
    background: #161925;
    color: #fdfffc;
    font-weight: bolder;
    text-align: center;
    height: 30px;
}

body button {
    background: #161925;
    color: #fdfffc;
    font-weight: bolder;
    text-align: center;
    height: 30px;
}

body button:focus {
    outline: none;
}

body button[type="button"]:hover {
    background: #fdfffc;
    color: #08415c;
    font-weight: bolder;
    cursor: pointer;
}

.question {
    padding: 50px;
    margin: 0 auto;
    text-decoration: underline overline;
    text-decoration-style: dotted;
    text-align: center;
    color: #fdfffc;
    background: #161925;
}

.intro mark {
    color: #fdfffc;
    background-color: #08415c;
    font-weight: bold;
    text-align: justify left;
}

.chrono mark {
    color: #fdfffc;
    background-color: #08415c;
    font-weight: bold;
    text-align: justify left;
}